# Database
instance/
*.db

# Python Cache
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/

# Pytest
.pytest_cache/

# VS Code
.vscode/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

git restore --staged .coverage
